<h1><%= @book.title %></h1>

<p>Autor: <%= @book.author.name %></p>
<p>Ano de Publicação: <%= @book.publication_year %></p>

<%= link_to "Voltar", books_path, class: 'btn btn-primary' %>
<%= link_to "Editar", edit_book_path(@book.id), class: 'btn btn-primary' %>
<%= link_to "Remover", book_path(@book.id), method: :delete,
  data: {confirm: 'Deseja apagar este livro?'}, class: 'btn btn-danger' %>
