<h1>Lista de Autores</h1>

<% if flash[:notice] %>
<div class="alert alert-success">
  <%= flash[:notice] %>
</div>
<% end %>


<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Data de Nascimento</th>
    <th></th>
  </tr>


    <% @authors.each do |author| %>
      <tr>
        <td><%= author.id %></td>
        <td><%= author.name %></td>
        <td><%= author.birthdate %></td>
        <td><%= link_to "Detalhes", author_path(author.id) %></td>
        <td><%= link_to "Editar", edit_author_path(author.id) %></td>
        <td><%= link_to "Deletar", author_path(author.id), method: :delete, data: {confirm: "Voce realmente deseja apagar este autor?"} %></td>
      </tr>
    <% end %>
</table>

<div class="row">
  <%= will_paginate @authors %>
</div>

<%= link_to "Novo autor", new_author_path, class: "btn btn-primary" %>
